
.button {
    background-color: black;
    color: white;
    padding: 15px 30px;
    border-radius: 10px;
}
.card {
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.301);
    border: none;
    padding-top: 20px;
    text-align: center;
    border-radius: 10px;
}
.card-title {
    font-weight: 700;
}
.card-fotter {
    background-color: white;
}
.container {
    margin-bottom: 60px;
}
.cat {
    text-align: center;
}
.cat::after {
    
        content: "";
        width: 140px;
        height: 20px;
        border-bottom: 5px solid #FFBC24;
        display: block;
        margin: 0 auto;
        border-radius: 5px;
    
}
.half-cat {
    width: 100%;
}
.img-box {
    border: none;
    padding: 50px;
    margin: 10px 0;
    box-shadow: 1px 1px 10px rgba(170, 170, 170, 0.459);
    border-radius: 0px 20px 0px 20px;
}
.img-box-2 {
    border: none;
    padding: 50px;
    margin: 10px 0;
    box-shadow: 1px 1px 10px rgba(170, 170, 170, 0.459);
    border-radius: 20px 0px 20px 0px;
}

.final-card1 {
    color: black;
    font-weight: 700;
    font-size: 45px;
    margin-top: 30px;
}
.final-card2 {
    color: black;
    ;
}
.input-1 {
    width: 250px;
    height: 40px;
}
.b1 {
    margin-top: 10px;
}
.back-button {
    background-color: black;
    color: white;
    padding: 10px 0;
    text-align: center; 
}
.back-button a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    
    
}
.back-button:hover{
    background-color: rgb(29, 29, 29);
    color: white;
    padding: 10px 0;
    text-align: center; 
}
footer {
    background-color: rgb(34, 34, 34);
    padding: 20px 0;
    text-align: center;
}
span {
    color: white;
    
    font-size: 13px;
}
footer li {
    display: inline-block;
    padding: 0 40px;
}
footer li a{
    text-decoration: none;
    color: white;
}
footer li a:hover {
    text-decoration: none;
    color: rgb(163, 163, 163);
}
